.singlepost{
   display: flex;
   flex-direction: column;
   height: 100%;
   
}


.conteudosinglepost{
   
   margin-left: 5%;
   margin-right: 5%;
   display: flex;
   flex-direction: row;
}

.imgsinglepost{
   display: flex;
   flex-direction: row;
   justify-content: center;
  
   
}

.corposinglepost{
   display: flex;
   flex-direction: column;
   margin-top: 20px;
   width: 70%;
   margin-left: 4%;
   margin-right: 4%;
}

.conteudo{


margin-right: 10px;
display: flex;
flex-direction: column;
}


.barra{
background-color:rgb(236, 227, 227);
width: 30%;

margin-top: 20px;
}

.elementosbarrasingle{
   margin: 10px;
}

.tituloconteudosingle{
   text-align: justify;
}

.paragrafosingle{
   text-align: justify;
   font-size: larger;
}


@media  (max-width:768px){
   .conteudosinglepost{
      display: flex;
      flex-direction: column;
   }


   .corposinglepost{
      display: flex;
      flex-direction: column;
      width: 100%;
      
      margin-left: 0px;
   }

   .conteudo{
      width: 100%;
      margin-right: 0px;
   }

   .barra{
      margin-top: 5%;
      width: 100%;
      margin-left: 0px;
   }
   
}