.contentcard3{
    display: flex;
    flex-direction: row;
    width: 100%;
    
   margin-top: 15px;
   
}

.imgcard3{
    width: 100%;
    
}



.conteudocard3{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 5px;
    
}

.categoriacard3{
    font-size: larger;
   
}

.titulocard3{
    height: 100%;
}

.infocards3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infocards3 span{
    font-size: smaller;
}


@media screen and (min-width:320px) and (max-width:425px){
    .contentcard3{
        flex-direction: column;
    }
}