.contentcard3{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
   
}

.imgcard3{
    width: 100%;
    height: 100%;
}



.conteudocard3{
    display: flex;
    flex-direction: column;
    width: 100%;
    
}

.titulocard3{
    height: 100%;
}

.infocards3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}