.cardscontent{
    width: 100%;
    margin-top: 15px;
    display: flex;
    align-self: stretch;
    flex-direction: column;
    background-color: white;
    -webkit-border-radius: 8px 8px 8px 8px;
-moz-border-radius: 8px 8px 8px 8px;
border-radius: 8px 8px 8px 8px;
background-color: white;
margin: 10px;
}



.cardimg {
 
   
   height: 100%;
}


.infoscards{
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}


.infocarduser{
    margin-left: 10px;
}

.infocarddata{
    margin-right: 10px;
}

.infoscards span{
    margin-left: 10px;
}

.conteudocard{
    margin-left: 10px;
}

